### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

title_styles = [dict(selector="caption", 
        props=[("font-size", "150%"), ("font-weight", "bold"),
        ("text-align", "center"),
        ("color", 'white'), ("background-color", "brown")])]

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_player_totals = len(purchase_df["SN"].unique())
player_df = pd.DataFrame({"Total players": [unique_player_totals]})
player_df = player_df.set_index("Total players")
player_df

Empty DataFrame
Columns: []
Index: [576]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Find purchase summary details
item_count = len(purchase_df["Item ID"].unique())
average_price = purchase_df["Price"].mean()
purchase_count = purchase_df["Price"].count()
purchase_total = purchase_df["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [average_price],
                           "Number of Purchase ": [purchase_count],
                           "Total Revenue": [purchase_total]})

# Format data frame for display                           
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

# Setup title styles for data frame

summary_df = summary_df.set_index("Number of Unique Items")
summary_df = summary_df.style.set_caption('Gender Purchase Demographics').set_table_styles(title_styles)
summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Build dataframe for gender player demograpics to store unique rows
player_demo_df = purchase_df.loc[:, ["Gender", "SN", "Age"]]
player_demo_df = player_demo_df.drop_duplicates()
num_players = player_demo_df.count()[0]

player_counts = player_demo_df["Gender"].value_counts()
player_percentages = player_counts/num_players*100
gender_demo_df = pd.DataFrame({"Total Count" : player_counts,
                                "Percentage of players": player_percentages})

# Format data frame for display                                                         
gender_demo_df["Percentage of players"] = gender_demo_df["Percentage of players"].map("{:,.2f}%".format)

gender_demo_df = gender_demo_df.style.set_caption('Gender Purchase Demographics').set_table_styles(title_styles)
gender_demo_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Find purchase summary details base on gender
gender_purchase_totals = purchase_df.groupby(["Gender"]).sum()["Price"]
gender_averages = purchase_df.groupby(["Gender"]).mean()["Price"]
gender_counts = purchase_df["Gender"].value_counts()
player_purchase_averages = gender_purchase_totals/player_counts

gender_purchase_df = pd.DataFrame({"Purchase Count" : gender_counts,
                                    "Average Purchase Price": gender_averages,
                                    "Total Purchase Value" : gender_purchase_totals,
                                    "Avg Total Purchase per Person": player_purchase_averages})

# Format data frame for display                                                               
gender_purchase_df["Average Purchase Price"] = gender_purchase_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purchase_df["Total Purchase Value"] = gender_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_df["Avg Total Purchase per Person"] = gender_purchase_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

gender_purchase_df = gender_purchase_df.style.set_caption('Gender Purchase Analysis').set_table_styles(title_styles)
gender_purchase_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

# Build dataframe to accommodate calculation results
age_df = player_demo_df.loc[:, ["Age"]]
age_df["Age Range"] = pd.cut(age_df["Age"], bins, labels=group_names, include_lowest=True)
age_df = age_df.groupby(["Age Range"]).count()
pct_players = age_df["Age"]/num_players * 100

age_df = pd.DataFrame({"Total Count" : age_df["Age"],
                        "Percentage of Players" : pct_players})
                        
# Format data frame for display                                                               
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:,.2f}%".format)
age_df = age_df.style.set_caption('Age Purchase Demographics').set_table_styles(title_styles)
age_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Build dataframe for acccommodate results for all purchases group by age range
age_purchase_df = purchase_df.loc[:, ["Age", "Price", "SN"]]
age_purchase_df["Age Range"] = pd.cut(age_purchase_df["Age"], bins, labels=group_names, include_lowest=True)

# Find purchase count, purchase total, and average purchase price
age_purchase_counts = age_purchase_df["Age Range"].value_counts()

age_purchase_totals = age_purchase_df.groupby(["Age Range"]).sum()["Price"]
age_purchase_averages = age_purchase_df.groupby(["Age Range"]).mean()["Price"]

# Build new frame to find player counts for each age range
age_player_purchase_df = purchase_df.loc[:, ["Age", "SN"]]
age_player_purchase_df["Age Range"] = pd.cut(age_player_purchase_df["Age"], bins, labels=group_names, include_lowest=True)
age_player_purchase_df = age_player_purchase_df.drop_duplicates()
age_player_purchase_counts = age_player_purchase_df["Age Range"].value_counts()

# Find average total purchase for each player
player_total_purchase_averages = age_purchase_totals/age_player_purchase_counts

age_purchase_df = pd.DataFrame({"Purchase Count" : age_purchase_counts,
                         "Average Purchase Price": age_purchase_averages,
                         "Total Purchase Value" : age_purchase_totals,
                         "Avg Total Purchase per Person": player_total_purchase_averages})                      

# Format data frame for display
age_purchase_df["Average Purchase Price"] = age_purchase_df["Average Purchase Price"].map("${:.2f}".format)
age_purchase_df["Total Purchase Value"] = age_purchase_df["Total Purchase Value"].map("${:.2f}".format)
age_purchase_df["Avg Total Purchase per Person"] = age_purchase_df["Avg Total Purchase per Person"].map("${:.2f}".format)

age_purchase_df = age_purchase_df.style.set_caption('Age Purchase Analysis').set_table_styles(title_styles)
age_purchase_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Build dataframe to accommodate calculation results
sn_avg_purchase_prices = purchase_df.groupby(["SN"]).mean()["Price"]
sn_purchase_totals = purchase_df.groupby(["SN"]).sum()["Price"]
sn_purchase_counts = purchase_df.groupby(["SN"]).count()["Price"]

sn_purchase_df = pd.DataFrame({
        "Purchase Count" : sn_purchase_counts,
        "Average Purchase Price": sn_avg_purchase_prices,
        "Total Purchase Value" : sn_purchase_totals})

sn_purchase_df = sn_purchase_df.sort_values(by="Total Purchase Value", ascending=False )

# Format data frame for display
sn_purchase_df["Average Purchase Price"] = sn_purchase_df["Average Purchase Price"].map("${:,.2f}".format)
sn_purchase_df["Total Purchase Value"] = sn_purchase_df["Total Purchase Value"].map("${:,.2f}".format)

display_df = sn_purchase_df.head()
display_df = display_df.style.set_caption('Top 5 Spenders').set_table_styles(title_styles)
display_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Build dataframe to accommodate calculation results
purchase_counts = purchase_df.groupby(["Item ID", "Item Name"]).count()["Price"]
purchase_price_totals = purchase_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
purchase_avg_prices = purchase_df.groupby(["Item ID", "Item Name"]).mean()["Price"]

item_df = pd.DataFrame({"Purchase Count" : purchase_counts,
                        "Average Item Price" : purchase_avg_prices,
                                "Total Purchase Value": purchase_price_totals})
                                
item_df = item_df.sort_values(by="Purchase Count", ascending=False )
                                
# Format data frame for display
item_df["Average Item Price"] = item_df["Average Item Price"].map("${:,.2f}".format)
item_df["Total Purchase Value"] = item_df["Total Purchase Value"].map("${:,.2f}".format)

display_df = item_df.head()
display_df = display_df.style.set_caption('Top 5 Most Popular Items').set_table_styles(title_styles)
display_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Build dataframe to accommodate calculation results
purchase_counts = purchase_df.groupby(["Item ID", "Item Name"]).count()["Price"]
purchase_price_totals = purchase_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
purchase_avg_prices = purchase_df.groupby(["Item ID", "Item Name"]).mean()["Price"]

item_df = pd.DataFrame({"Purchase Count" : purchase_counts,
                        "Average Item Price" : purchase_avg_prices,
                        "Total Purchase Value": purchase_price_totals})

item_df = item_df.sort_values(by="Total Purchase Value", ascending=False )

# Format data frame for display
item_df["Average Item Price"] = item_df["Average Item Price"].map("${:,.2f}".format)
item_df["Total Purchase Value"] = item_df["Total Purchase Value"].map("${:,.2f}".format)

display_df = item_df.head()
display_df = display_df.style.set_caption('Top 5 Most Profitable Items').set_table_styles(title_styles)
display_df